
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gestion des Postes</h4>
     
        <form class="form-inline">
          <input type="text" class="form-control mb-2 mr-sm-2" name ="poste"  placeholder="Poste">
          <input type="text" class="form-control mb-2 mr-sm-2"  name = "description"placeholder="Description">
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">List des Postes</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Poste</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  