<div class="page-header">
    <h3 class="page-title">
        Laboratoire
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Création des Produit Semi-Fini</h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #matiereAcquiseiForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Désignation</label>
              <input type="text" class="form-control" name ="designation" [(ngModel)]="matiereAcquise.designation"  placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputMobile">Quantité</label>
                  <input type="number" class="form-control" name ="quantite" [(ngModel)]="matiereAcquise.quantite"  placeholder="Mobile number">
            </div>
            <div class="form-group">
                <label for="exampleInputMobile">Prix</label>
                  <input type="number" class="form-control" name ="prix" [(ngModel)]="matiereAcquise.prix" placeholder="Mobile number">
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Famille Produits</label>
                <select class="form-control" name ="famille" [(ngModel)]="matiereAcquise.famille">
                    <option *ngFor="let fam of famille" [(value)]="fam.id_FamilleProduit" >{{fam.designation}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Sous Famille</label>
                <select class="form-control" name ="sousfamille" [(ngModel)]="matiereAcquise.souFamille">
                    <option *ngFor="let sousfamille of sousfamilles" [(value)]="sousfamille.id_FamilleProduit" >{{sousfamille.designation}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <button type ="reset" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">List des Matiere</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let matiereAcquise of matieresAcquise">
                    <td>{{matiereAcquise.id}}</td>
                    <td>{{matiereAcquise.designation}}</td>
                    <td>{{matiereAcquise.qunatite}}</td>
                    <td>{{matiereAcquise.prix}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
