<div class="page-header">
  <h3 class="page-title">
    Données  d’extraction
  </h3>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <form class="forms-sample" (ngSubmit)="onSubmit()" #donneeForm="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">Substance à extracter</label>
            <input type="text" class="form-control" name ="substance" [(ngModel)]="donnee.substance"  placeholder="Substance à extracter">
          </div> 
          <div class="form-group">
              <label for="exampleInputMobile">Quantité maximale (tonnes métriques) </label>
                <input type="number" class="form-control" name ="quantite" [(ngModel)]="donnee.quantite" placeholder="Quantité maximale">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Méthode de prélèvement</label>
            <input type="text" class="form-control" name ="methode" [(ngModel)]="donnee.methode"  placeholder="Méthode de prélèvement">
          </div>
          <div class="form-group">
            <label for="exampleInputMobile">Durée de prélèvement  </label>
              <input type="number" class="form-control"[(ngModel)]="donnee.duree" name ="dure"  >
        </div>
        <div class="form-group">
          <label for="exampleInputMobile">Periode de prélèvement  </label>
            <input type="number" class="form-control" [(ngModel)]="donnee.periode" name ="periode"  >
      </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <button type ="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> Données  d’extraction</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Substance</th>
                  <th>Quantité maximale</th>
                  <th>Méthode de prélèvement </th>
                  <th>Durée de prélèvement </th>
                  <th>Periode de prélèvement </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let donnee of donnees">
                  <td>{{donnee.substance}}</td>
                  <td>{{donnee.quantite}}</td>
                  <td>{{donnee.methode}}</td>
                  <td>{{donnee.duree}}</td>
                  <td>{{donnee.periode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>