
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Création Process
        </h4>
     
        <form class="form-inline">
          <input type="text" class="form-control mb-2 mr-sm-2" name="designation" size="5" placeholder="Désignation">
          <input type="text" class="form-control mb-2 mr-sm-2" size="10"  name = "prenom"placeholder="Prénom">
          <select class="form-control mb-2 mr-sm-2" name ="operation" >
            <option >Op1</option>
            <option >Op2</option>
          </select>
          <input type="number" class="form-control mb-2 mr-sm-2" name ="num" size="6" placeholder="enumerer">
          
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Les process </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Opération </th>
                  <th>Type </th>
                  <th>Machine  </th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  