
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Création Process
        </h4>
     
        <form class="form-inline" (ngSubmit)="onSubmit()" #processForm="ngForm">
          <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="process.designation"  name="designation" placeholder="Désignation">
          <select class="form-control mb-2 mr-sm-2" name ="operation" [(ngModel)]="process.operation">
            <option *ngFor="let op of operations" [(value)]="op.designation" >{{op.designation}}</option>
          </select>
          <input type="number" class="form-control mb-2 mr-sm-2" [(ngModel)]="process.num" name ="num" size="6" placeholder="enumerer">
          
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Les process </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Designation </th>
                  <th>Operation </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let process of proc">
                  <td>{{process.designation}}</td>
                  <td>{{process.operation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  