<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Création d'Echantillon</h4>
            <p class="card-description">
              Basic form elements
            </p>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #echantillonForm="ngForm">
            <div class="form-group">
              <label for="exampleInputName1">Num Echantillon</label>
              <input type="text" [(ngModel)]="echantillon.numEchantillon" 
              class="form-control" 
              id="numEchantillon" 
              name="numEchantillon" 
              placeholder="eg : 15"
              required #name="ngModel">   
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Nom du Labo</label>
              <input type="text" [(ngModel)]="labo.nom" 
              name = "nom"
              class="form-control" id="nomlabo" placeholder="eg : yess-Labo">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Adress Labo</label>
                <input type="text" name = "address" [(ngModel)]="labo.address"  class="form-control" id="adress" >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Quantiteé</label>
                <input type="text" name = "quantite" [(ngModel)]="echantillon.quantite"  class="form-control" id="quantite" >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Envoyer le</label>
                <input type="date" name = "date" [(ngModel)]="echantillon.date" class="form-control" id="date" >
              </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>