<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Maintenance </h4>
        <form class="form-sample">
          <p class="card-description">
            
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Poids moyen du seau</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Consommation moyenne de carburant par machine </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Le nombre moyen de décharge par heure/jour/semaine/mois </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Le nombre moyen de charges par heure/jour/semaine/mois</label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Taux de rendement global  </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Erreurs et avertissement </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Nombre de pannes par jour/semaine/mois  </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">MTTR  </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">MTBF</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">MTT </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">MDT  </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">MUT </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>