<div class="page-header">
    <h3 class="page-title">
        Produit Semi Fini
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Création des Produit Semi-Fini</h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #produitsemifiniForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Désignation</label>
              <input type="text" class="form-control" required name ="designation" [(ngModel)]="produitSemiFini.designation"  placeholder="designation">
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Famille Produits</label>
                <select class="form-control" name ="famille" [(ngModel)]="produitSemiFini.produitSemiFini">
                    <option *ngFor="let fam of familles" [ngValue]="fam" >{{fam.designation_famille}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Sous Famille</label>
                <select class="form-control" name ="sousfamille" [(ngModel)]="produitSemiFini.pSemiFini">
                    <option *ngFor="let sousfamille of sousFamilles" [ngValue]="sousfamille" >{{sousfamille.designation}}</option>
                </select>
            </div>
            <button type="submit" [disabled]="!produitsemifiniForm.form.valid" class="btn btn-info mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">List des Produits Semi-Fini</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Désignation</th>
                    <th>Famille</th>
                    <th>Sous-Famille</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produitSemiFini of produitsSemiFini">
                    <td>{{produitSemiFini.designation}}</td>
                    <td>{{produitSemiFini.produitSemiFini.designation_famille}}</td>
                    <td>{{produitSemiFini.pSemiFini.designation}}</td>
                    <td><button (click)="onDelete(produitSemiFini.id_Produit_Semi_Fini)" type="button"  class="btn btn-danger" >Delete</button></td>
        
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>