<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Création d'Echantillon</h4>
           
          <form class="forms-sample" (ngSubmit)="onEdit(echantillon.id)" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputName1">Num Echantillon</label>
              <input type="text" value="{{echantillon.numEchantillon}}" 
              class="form-control" 
              id="numEchantillon" 
              name="numEchantillon" 
              disabled>   
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Nom du Labo</label>
              <input type="text" value="{{echantillon.designationlabo}}" 
              name = "nom"
              class="form-control" id="nomlabo" disabled>
            </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Quantiteé</label>
                <input type="text" name = "quantite" value="{{echantillon.quantite}}"  class="form-control" id="quantite" disabled>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Taux de Si </label>
                <input type="text" name = "si"  [(ngModel)]="echantillon.tauxSi" class="form-control" id="si" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Taux Fe</label>
                <input type="text" name = "fe" [(ngModel)]="echantillon.tauxFe" class="form-control" id="fe" >
            </div>
            <form class="forms-sample" enctype="multipart/form-data">
              <label class="btn btn-default">
                <input type="file" (change)="selectFile($event)" />
              </label>
              </form>
            <button  class="btn btn-gradient-primary mr-2" >Submit</button>
            <button class="btn btn-gradient-primary " (click)="backClicked()">Back</button> 
          </form>
          
        </div>
      </div>
    </div>
  </div>