<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Caractéristique physique
        </h4>
        <form class="form-sample">
          <p class="card-description">
            
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Degré de pureté </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Caracteristique physique  </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Taux de substitution des matières premières
                        (pourcentage) </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">Volume de déchets                        </label>
                    <input type="text" class="form-control"  name="pin"  size="4">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                
                <div class="col-sm-9">
                    <label class="col-form-label">  Déchets par tonne </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>