<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    
   
    <li class="nav-item" [ngClass]="{'active' : parametre.isActive }">
      <a class="nav-link" (click)="minerale = !minerale" [attr.aria-expanded]="minerale" aria-controls="minerale">
        <span class="menu-title"> Exploration minérale</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="minerale" [ngbCollapse]="!minerale">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/ParametreGeologique" routerLinkActive="active" #parametre="routerLinkActive">Les paramètres géologiques</a></li>
          <li class="nav-item" [ngClass]="{'active' :echantillon.isActive || permis.isActive}">
            <a class="nav-link" (click)="prospection = !prospection" [attr.aria-expanded]="prospection" aria-controls="prospection">
              <span class="menu-title"> Prospection</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="prospection" [ngbCollapse]="!prospection">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/echantillon" routerLinkActive="active" #echantillon="routerLinkActive">Création des échantillons </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/docs" routerLinkActive="active" #permis="routerLinkActive">Permis de recherche </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active' :vrac.isActive || permisexpo.isActive || phychimi.isActive}">
            <a class="nav-link" (click)="exploration = !exploration" [attr.aria-expanded]="exploration" aria-controls="exploration">
              <span class="menu-title"> Exploration avancée </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="exploration" [ngbCollapse]="!exploration">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/echantillonenVrac" routerLinkActive="active" #vrac="routerLinkActive">Échantillonnage en Vrac  </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/physico-chimique" routerLinkActive="active" #phychimi="routerLinkActive">Caractérisation physico-chimique: </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/permisexpo" routerLinkActive="active" #permisexpo="routerLinkActive">Permis d’exploration: </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : labo.isActive || magasins.isActive || famille.isActive || sousFamille.isActive}">
      <a class="nav-link" (click)="Gestion = !Gestion" [attr.aria-expanded]="Gestion" aria-controls="Gestion">
        <span class="menu-title"> Données techniques        </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Gestion" [ngbCollapse]="!Gestion">
        <ul class="nav flex-column sub-menu">
           <li class="nav-item"> <a class="nav-link" routerLink="gestion/FamilleProduit" routerLinkActive="active" #famille="routerLinkActive">Famille Produit</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/SousFamille" routerLinkActive="active" #sousFamille="routerLinkActive">Les Sous Famille</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="gestion/labo" routerLinkActive="active" #labo="routerLinkActive">Labo</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="gestion/magasins" routerLinkActive="active" #magasins="routerLinkActive">Magasins</a></li>
         
          <li class="nav-item" [ngClass]="{'active' :matier.isActive || produitSemiFini.isActive || produitFini.isActive}">
            <a class="nav-link" (click)="Produit = !Produit" [attr.aria-expanded]="Produit" aria-controls="Produit">
              <span class="menu-title"> Produit</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Produit" [ngbCollapse]="!Produit">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/matiereacquise" routerLinkActive="active" #matier="routerLinkActive">Matiere </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/ProduitSemifini" routerLinkActive="active" #produitSemiFini="routerLinkActive">Produit Semi Fini</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/Produitfini" routerLinkActive="active" #produitFini="routerLinkActive">Prdouit Fini</a></li>
             </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="Vente = !Vente" [attr.aria-expanded]="Vente" aria-controls="Vente">
        <span class="menu-title"> Vente et distribution  </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Vente" [ngbCollapse]="!Vente">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' :client.isActive || commandeClient.isActive }">
            <a class="nav-link" (click)="commercial = !commercial" [attr.aria-expanded]="commercial" aria-controls="commercial">
              <span class="menu-title"> Commercial</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="commercial" [ngbCollapse]="!commercial">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="commercial/client" routerLinkActive="active" #client="routerLinkActive">Client</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="commercial/commandeClient" routerLinkActive="active" #commandeClient="routerLinkActive">Commande Client</a></li>
                </ul>
            </div>
            </li>
            <li class="nav-item" [ngClass]="{'active' :bL.isActive || bR.isActive || fC.isActive  || pre.isActive }">
              <a class="nav-link" (click)="distribution  = !distribution" [attr.aria-expanded]="distribution" aria-controls="distribution">
                <span class="menu-title"> Distribution </span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="distribution" [ngbCollapse]="!distribution">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="distribution/BonLivraison" routerLinkActive="active" #bL="routerLinkActive">Bon de livraison </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="distribution/Facture" routerLinkActive="active" #fC="routerLinkActive">Facture client </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="distribution/BonReception" routerLinkActive="active" #bR="routerLinkActive">Bon de réception   </a></li>
                  <li class="nav-item"> <a class="nav-link" routerLink="distribution/CommandeClient" routerLinkActive="active" #pre="routerLinkActive">Préparation commande client </a></li> 
                </ul>
              </div>
              </li>
          </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="achat = !achat" [attr.aria-expanded]="achat" aria-controls="achat">
        <span class="menu-title"> Achat et extraction </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="achat" [ngbCollapse]="!achat">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' :fournisseur.isActive || demandeAchat.isActive|| br.isActive }">
            <a class="nav-link" (click)="ach = !ach" [attr.aria-expanded]="ach" aria-controls="ach">
              <span class="menu-title"> Achat</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ach" [ngbCollapse]="!ach">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="achat/fournisseur" routerLinkActive="active" #fournisseur="routerLinkActive">Fournisseur</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="achat/demandeAchat" routerLinkActive="active" #demandeAchat="routerLinkActive">Demmande d'Achat</a></li> 
                <li class="nav-item"> <a class="nav-link" routerLink="achat/BonReception" routerLinkActive="active" #br="routerLinkActive">Bon de reception</a></li> 
              </ul>
            </div>
          </li>

          <li class="nav-item" [ngClass]="{'active' :extraction.isActive || quantite.isActive }">
            <a class="nav-link" (click)="ex = !ex" [attr.aria-expanded]="ex" aria-controls="ex">
              <span class="menu-title"> Extraction </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ex" [ngbCollapse]="!ex">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="extraction/DonneesExtraction" routerLinkActive="active" #extraction="routerLinkActive">Données  d'extraction</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="extraction/Quantite" routerLinkActive="active" #quantite="routerLinkActive">Quantité et valeur du mineral </a></li> 
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : operation.isActive || process.isActive }">
      <a class="nav-link" (click)="prod = !prod" [attr.aria-expanded]="prod" aria-controls="prod">
        <span class="menu-title"> Production </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="prod" [ngbCollapse]="!prod">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="production/Operation" routerLinkActive="active" #operation="routerLinkActive"> Opération  </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="production/Process" routerLinkActive="active" #process="routerLinkActive">Process </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : mouvement.isActive }">
      <a class="nav-link" (click)="Logistique = !Logistique" [attr.aria-expanded]="Logistique" aria-controls="Logistique">
        <span class="menu-title"> Logistique </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Logistique" [ngbCollapse]="!Logistique">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Logistique/Mouvement" routerLinkActive="active" #mouvement="routerLinkActive">Mouvement</a></li>
         </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : Securite.isActive ||Maintenance.isActive || Temporaire.isActive ||Spatial.isActive ||Cphysiques.isActive }">
      <a class="nav-link" (click)="indicateur = !indicateur" [attr.aria-expanded]="indicateur" aria-controls="indicateur">
        <span class="menu-title"> Les Indicateurs </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="indicateur" [ngbCollapse]="!indicateur">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="indicateur/Securite" routerLinkActive="active" #Securite="routerLinkActive">Securite</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="indicateur/Maintenance" routerLinkActive="active" #Maintenance="routerLinkActive">Maintenance</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="indicateur/Temporaire" routerLinkActive="active" #Temporaire="routerLinkActive">Temporaire</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="indicateur/Spatial" routerLinkActive="active" #Spatial="routerLinkActive">Spatial</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="indicateur/Cphysiques" routerLinkActive="active" #Cphysiques="routerLinkActive">Caractéristiques physique </a></li>
  
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : base.isActive || journal.isActive  || etat.isActive }">
      <a class="nav-link" (click)="stock = !stock" [attr.aria-expanded]="stock" aria-controls="stock">
        <span class="menu-title"> Gestion de Stock </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="stock" [ngbCollapse]="!stock">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="GestionStock/BaseProduit" routerLinkActive="active" #base="routerLinkActive">Base de Produit</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="GestionStock/Journal" routerLinkActive="active" #journal="routerLinkActive">Journal de Stock</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="GestionStock/EtatStock" routerLinkActive="active" #etat="routerLinkActive">Etat de Stock</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : equipement.isActive || groupe.isActive }">
      <a class="nav-link" (click)="machines = !machines" [attr.aria-expanded]="machines" aria-controls="machines">
        <span class="menu-title"> Les Machines </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="machines" [ngbCollapse]="!machines">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="machines/Famille" routerLinkActive="active" #groupe="routerLinkActive">Groupe machine</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="machines/LesEquipements" routerLinkActive="active" #equipement="routerLinkActive">Les Equipements</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : Gcollaborateur.isActive || Gpostes.isActive || Gcoordonne.isActive || Gcompetance.isActive }">
      <a class="nav-link" (click)="rh = !rh" [attr.aria-expanded]="rh" aria-controls="rh">
        <span class="menu-title"> Gestion du personnelles </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="rh" [ngbCollapse]="!rh">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Gestionpersonnelles/Gcollaborateur" routerLinkActive="active" #Gcollaborateur="routerLinkActive">Gestion des collaborateurs</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Gestionpersonnelles/Gpostes" routerLinkActive="active" #Gpostes="routerLinkActive">Gestion des Postes </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Gestionpersonnelles/Gcoordonne" routerLinkActive="active" #Gcoordonne="routerLinkActive">Gestion des coordonnées</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Gestionpersonnelles/Gcompetance" routerLinkActive="active" #Gcompetance="routerLinkActive">Gestion des compétences</a></li>  
        </ul>
      </div>
    </li>
  <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <!--  <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>-->
  </ul>
</nav>
