<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    
    <li class="nav-item" [ngClass]="{'active' : parametre.isActive || equipements.isActive }">
      <a class="nav-link" (click)="donneetechnique = !donneetechnique" [attr.aria-expanded]="donneetechnique" aria-controls="donneetechnique">
        <span class="menu-title">Donneés Techniques</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
      <div class="collapse" id="donneetechnique" [ngbCollapse]="!donneetechnique">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="DonnéesTechniques/ParametreGeologique" routerLinkActive="active" #parametre="routerLinkActive">Les paramètres géologiques</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="DonnéesTechniques/LesEquipements" routerLinkActive="active" #equipements="routerLinkActive">Les Equipements</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : echantillon.isActive || indice.isActive || docs.isActive }">
      <a class="nav-link" (click)="PhasePreliminaire = !PhasePreliminaire" [attr.aria-expanded]="PhasePreliminaire" aria-controls="Phase-Preliminaire">
        <span class="menu-title"> Phase-Préliminaire</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="Phase-Preliminaire" [ngbCollapse]="!PhasePreliminaire">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Phase-Preliminaire/echantillon" routerLinkActive="active" #echantillon="routerLinkActive">Creation Echantillon</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Phase-Preliminaire/indice" routerLinkActive="active" #indice="routerLinkActive">Indice Miniere</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Phase-Preliminaire/docs" routerLinkActive="active" #docs="routerLinkActive">Documents</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : equipementUtilise.isActive || resultat.isActive }">
      <a class="nav-link" (click)="EssaiPilote = !EssaiPilote" [attr.aria-expanded]="EssaiPilote" aria-controls="EssaiPilote">
        <span class="menu-title"> Essai Pilote</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="EssaiPilote" [ngbCollapse]="!EssaiPilote">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="EssaiPilote/equipementUtilise" routerLinkActive="active" #equipementUtilise="routerLinkActive">Les Equipements Utiliseés</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="EssaiPilote/resultat" routerLinkActive="active" #resultat="routerLinkActive">Les Resultats</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : preuves.isActive }">
      <a class="nav-link" (click)="EtudeMarche = !EtudeMarche" [attr.aria-expanded]="EtudeMarche" aria-controls="EtudeMarche">
        <span class="menu-title"> Etude Marcheé</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="EtudeMarche" [ngbCollapse]="!EtudeMarche">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="EtudeMarche/LesPruves" routerLinkActive="active" #preuves="routerLinkActive">Les Preuves</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
