<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    
    <li class="nav-item" [ngClass]="{'active' : parametre.isActive || equipements.isActive || exploration.isActive}">
      <a class="nav-link" (click)="donneetechnique = !donneetechnique" [attr.aria-expanded]="donneetechnique" aria-controls="donneetechnique">
        <span class="menu-title">Exploration minérale</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
      <div class="collapse" id="donneetechnique" [ngbCollapse]="!donneetechnique">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/ParametreGeologique" routerLinkActive="active" #parametre="routerLinkActive">Les paramètres géologiques</a></li>
          <li class="nav-item" [ngClass]="{'active' :echantillon.isActive || permis.isActive}">
            <a class="nav-link" (click)="prospection = !prospection" [attr.aria-expanded]="prospection" aria-controls="prospection">
              <span class="menu-title"> Prospection</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="prospection" [ngbCollapse]="!prospection">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/echantillon" routerLinkActive="active" #echantillon="routerLinkActive">Création des échantillons </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/docs" routerLinkActive="active" #permis="routerLinkActive">Permis de recherche </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/exploration" routerLinkActive="active" #exploration="routerLinkActive">Exploration avancée</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Explorationminérale/LesEquipements" routerLinkActive="active" #equipements="routerLinkActive">Les Equipements</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : labo.isActive || magasins.isActive || famille.isActive || sousFamille.isActive}">
      <a class="nav-link" (click)="Gestion = !Gestion" [attr.aria-expanded]="Gestion" aria-controls="Gestion">
        <span class="menu-title"> Gestion</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="Gestion" [ngbCollapse]="!Gestion">
        <ul class="nav flex-column sub-menu">
           <li class="nav-item"> <a class="nav-link" routerLink="gestion/FamilleProduit" routerLinkActive="active" #famille="routerLinkActive">Famille Produit</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/SousFamille" routerLinkActive="active" #sousFamille="routerLinkActive">Les Sous Famille</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="gestion/labo" routerLinkActive="active" #labo="routerLinkActive">Labo</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="gestion/magasins" routerLinkActive="active" #magasins="routerLinkActive">Magasins</a></li>
         
          <li class="nav-item" [ngClass]="{'active' :creation.isActive}">
            <a class="nav-link" (click)="Produit = !Produit" [attr.aria-expanded]="Produit" aria-controls="Produit">
              <span class="menu-title"> Produit</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Produit" [ngbCollapse]="!Produit">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/creationProduit" routerLinkActive="active" #creation="routerLinkActive">Création Produit </a></li>
               <!-- <li class="nav-item"> <a class="nav-link" routerLink="gestion/matiereacquise" routerLinkActive="active" #matier="routerLinkActive">Matiere </a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/ProduitSemifini" routerLinkActive="active" #produitSemiFini="routerLinkActive">Produit Semi Fini</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="gestion/Produitfini" routerLinkActive="active" #produitFini="routerLinkActive">Prdouit Fini</a></li>
             --> </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : client.isActive || commandeClient.isActive }">
      <a class="nav-link" (click)="commercial = !commercial" [attr.aria-expanded]="commercial" aria-controls="commercial">
        <span class="menu-title"> Commercial</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="commercial" [ngbCollapse]="!commercial">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="commercial/client" routerLinkActive="active" #client="routerLinkActive">Client</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="commercial/commandeClient" routerLinkActive="active" #commandeClient="routerLinkActive">Commande Client</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : fournisseur.isActive || commandeFournisseur.isActive || demandeAchat.isActive }">
      <a class="nav-link" (click)="achat = !achat" [attr.aria-expanded]="achat" aria-controls="achat">
        <span class="menu-title"> Achat</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="achat" [ngbCollapse]="!achat">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="achat/fournisseur" routerLinkActive="active" #fournisseur="routerLinkActive">Fournisseur</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="achat/demandeAchat" routerLinkActive="active" #demandeAchat="routerLinkActive">Demmande d'Achat</a></li> 
     <li class="nav-item"> <a class="nav-link" routerLink="achat/commandeFournisseur" routerLinkActive="active" #commandeFournisseur="routerLinkActive">Commande Fournisseur</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
