<div class="col-12 grid-margin stretch-card" id="main">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gestion des Collaborateurs</h4>
     
        <form class="form-inline"  (ngSubmit)="onSubmit()" #collaborateurForm="ngForm" >
          <input type="number" class="form-control mb-2 mr-sm-2"  [(ngModel)]="collaborateur.num" name="num" size="5" placeholder="Numéro">
          <input type="date" class="form-control mb-2 mr-sm-2" [(ngModel)]="collaborateur.date" name ="date"  >
          <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="collaborateur.nom" name ="nom" size="6" placeholder="Nom">
          <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="collaborateur.prenom" size="10"  name = "prenom"placeholder="Prénom">
          <select class="form-control mb-2 mr-sm-2" name ="Genre" [(ngModel)]="collaborateur.genre">
            <option >Masculin</option>
            <option >Feminin</option>
          </select>
          
          <input type="number" class="form-control mb-2 mr-sm-2" [(ngModel)]="collaborateur.cnss" name ="cnss" size="6" placeholder="CNSS">
          <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="collaborateur.lieu" size="10"name ="lieu" placeholder="Lieu">
          <select class="form-control mb-2 mr-sm-2" name ="active" [(ngModel)]="collaborateur.active" >
            <option >Oui</option>
            <option >Non</option>
          </select>
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card" id="operation1" style="display:none">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gestion des Collaborateurs</h4>
     
        <table class="table">
          
          <tbody>
            <tr >
              <td>{{cola| json}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">List des  Collaborateurs</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Numéro</th>
                  <th>Nom</th>
                  <th>Prénom </th>
                  <th>Genre</th>
                  <th>Date de Naissance</th>
                  <th>Lieu de résidence </th>
                  <th>Matricule CNSS</th>
                  <th>Active </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let collaborateur of collaborateurs">
                  <td>{{collaborateur.num}}</td>
                  <td>{{collaborateur.nom}}</td>
                  <td>{{collaborateur.prenom}}</td>
                  <td>{{collaborateur.genre}}</td>
                  <td>{{collaborateur.date}}</td>
                  <td>{{collaborateur.lieu}}</td>
                  <td>{{collaborateur.cnss}}</td>
                  <td>{{collaborateur.active}}</td>
                  <td><button type="button" (click)="go(collaborateur.id_collaborateur)" class="btn btn-warning">Edit</button></td>
                  <td><button (click)="onDelete(collaborateur.id_collaborateur)" type="button"  class="btn btn-danger" >Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  