
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gestion des Collaborateurs</h4>
     
        <form class="form-inline">
          <input type="number" class="form-control mb-2 mr-sm-2" name="num" size="5" placeholder="Numéro">
          <input type="date" class="form-control mb-2 mr-sm-2" name ="date"  >
          <input type="text" class="form-control mb-2 mr-sm-2" name ="nom" size="6" placeholder="Nom">
          <input type="text" class="form-control mb-2 mr-sm-2" size="10"  name = "prenom"placeholder="Prénom">
          <select class="form-control mb-2 mr-sm-2" name ="Genre" >
            <option >Masculin</option>
            <option >Feminin</option>
          </select>
          
          <input type="number" class="form-control mb-2 mr-sm-2" name =" cnss" size="6" placeholder="CNSS">
          <input type="text" class="form-control mb-2 mr-sm-2" size="10"name ="lieu" placeholder="Lieu">
          <select class="form-control mb-2 mr-sm-2" name ="active" >
            <option >Oui</option>
            <option >Non</option>
          </select>
          <button type="submit" class="btn btn-gradient-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">List des  Collaborateurs</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Numéro</th>
                  <th>Nom</th>
                  <th>Prénom </th>
                  <th>Genre</th>
                  <th>Date de Naissance</th>
                  <th>Lieu de résidence </th>
                  <th>Matricule CNSS</th>
                  <th>Actif </th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  