<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gestion des Collaborateurs</h4>
        <form class="form-sample" (ngSubmit)="onSubmit()" #collaborateurForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="collaborateur.nom" name ="nom" placeholder="Nom" required />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prénom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="collaborateur.prenom" name ="prenom" placeholder="Prénom"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                  <select class="form-control" name ="Genre" [(ngModel)]="collaborateur.genre">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date of Birth</label>
                <div class="col-sm-9">
                  <input type ="date" class="form-control" placeholder="dd/mm/yyyy"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Num Collaboateur</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" [(ngModel)]="collaborateur.num" name="num" required />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"> Num CNSS</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" [(ngModel)]="collaborateur.cnss" name ="cnss" required/>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" style="position: absolute;
          right: 36px;
          top: 300px;" [disabled]="!collaborateurForm.form.valid" class="btn btn-info mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">List des  Collaborateurs</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Numéro</th>
                  <th>Nom</th>
                  <th>Prénom </th>
                  <th>Genre</th>
                  <th>Date de Naissance</th>
                  <th>Matricule CNSS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let collaborateur of collaborateurs">
                  <td>{{collaborateur.num}}</td>
                  <td>{{collaborateur.nom}}</td>
                  <td>{{collaborateur.prenom}}</td>
                  <td>{{collaborateur.genre}}</td>
                  <td>{{collaborateur.date}}</td>
                  <td>{{collaborateur.cnss}}</td>
                  <td><button type="button" (click)="go(collaborateur.id_collaborateur)" class="btn btn-warning">Edit</button></td>
                  <td><button (click)="onDelete(collaborateur.id_collaborateur)" type="button"  class="btn btn-danger" >Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>