<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Etat de stock</h4>
          <div class="table-responsive">
            <select class="form-control" name ="date" >
                <option >Jour</option> 
                <option >Semaine</option> 
                <option >Mois</option> 
            </select>
            <br>
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Designation Produit
                  </th>
                  <th>
                    Stock initial
                  </th>
                  <th>
                    Quantité Entrante
                  </th>
                  <th>
                    Quantité Sortante
                  </th>
                  <th>
                    Stock Final  
                  </th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>