
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Création opération</h4>
     
        <form class="form-simple" (ngSubmit)="onSubmit()" #operationForm="ngForm">
          <div>
              <label>Désignation</label>
            <input type="text" class="form-control "[(ngModel)]="operation.designation"  name ="designation" placeholder="Désignation">
          </div>
          <div class="form-group ">
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="1"  [(ngModel)]="sh" name="sh1" type="radio" [checked]="isChecked">
                        Machines
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="sh" name="sh1" type="radio" [checked]="!isChecked">
                        Transfert
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
          </div>
                <div class="form-group ">
                  <label class="col-sm-3 col-form-label">Type</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="Automatique"[(ngModel)]="operation.type" name="sh" type="radio" [checked]="!isChecked" >
                        Automatique
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="semiAutomatique" [(ngModel)]="operation.type" name="sh" type="radio" [checked]="!isChecked">
                        semi Automatique
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" [value]="3" [(ngModel)]="sh1" name="sh" type="radio" [checked]="isChecked">
                        Manuel
                        <i class="input-helper"></i>
                      </label>
                    
                     
                    </div>
                  </div>
          </div>
        
          <div *ngIf="sh == 1">
            <label>Machine</label>
            <select class="form-control" name ="machine" [(ngModel)]="operation.machine" >
              <option *ngFor="let op of equipements" [(value)]="op.nom" >{{op.nom}}</option>
          </select> </div>
          <div *ngIf="sh1 == 3">
            <label>Poste</label>
            <select class="form-control " name ="poste" [(ngModel)]="operation.poste" >
              <option *ngFor="let op of postes" [(value)]="op.poste" >{{op.poste}}</option>
          </select> </div>
          <div  *ngIf="sh == 0"><label>Temps Alloué </label><input class="form-control " [(ngModel)]="operation.temps" name="temps" type="number"  /> </div>
<br/>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
 