<div class="page-header">
    <h3 class="page-title">
        Clients
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Création des Clients</h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #clientForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Désignation</label>
              <input type="text" class="form-control" name ="designation" [(ngModel)]="client.designation"  placeholder="designation">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">E-mail</label>
              <input type="email" class="form-control" name ="adresse" [(ngModel)]="client.address" placeholder="nom@eg.com">
            </div> 
            <div class="form-group">
                <label for="exampleInputMobile">Téléphone </label>
                  <input type="number" class="form-control" name ="tele" [(ngModel)]="client.tele"  placeholder="Mobile number">
            </div>

            <div class="form-group">
              <label for="exampleInputUsername1">Compte bancair </label>
              <input type="number" class="form-control" name ="compte" [(ngModel)]="client.compte"  >
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Conditionnement de paiement </label>
                <select class="form-control" name ="departement" [(ngModel)]="client.conditionPaiement">
                    <option value="DIRECTION">Virment Bancaire</option>
                    <option value="ACHAT">Paypal</option>
                    <option value="FINANCE ET CIMPTABILITE">Main à Main</option>
                  </select>
            </div>
            <br/>
            <h4 class="card-title">Adresse de facturation        </h4>
            <div class="form-group">
              <label for="exampleInputUsername1">Nom adresse</label>
              <input type="text" class="form-control" name ="siege" [(ngModel)]="client.siege"  placeholder="siège">
            </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Scociété</label>
              <input type="text" class="form-control" name ="societe" [(ngModel)]="client.societe"  required>
            </div>
            <div class="form-group">
              <label for="exampleInputMobile">Code postal  </label>
                <input type="number" class="form-control" name ="code" [(ngModel)]="client.codepostale" required >
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">Ville</label>
            <input type="text" class="form-control" name ="ville" [(ngModel)]="client.ville" required >
          </div>
          <div class="form-group">
              <label for="exampleInputUsername1">Pays</label>
              <input type="text" class="form-control" name ="pays" [(ngModel)]="client.pays"  required>
            </div>
            <div class="form-group">
                <label for="exampleInputMobile">Téléphone Scociété</label>
                  <input type="number" class="form-control" name ="tele" [(ngModel)]="client.telesocite"  placeholder="Mobile number">
            </div>
            <button type="submit" [disabled]="!clientForm.form.valid" class="btn btn-info mr-2">Submit</button>
            <button type ="reset" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">List des Clients</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Désignation</th>
                    <th>Adresse</th>
                    <th>Téléphone </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clients">
                    <td>{{client.designation}}</td>
                    <td>{{client.address}}</td>
                    <td>{{client.tele}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>