<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Journal de stock </h4>
          <div class="form-group ">
            <div class="col-sm-4">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" [value]="1"  [(ngModel)]="sh" name="sh1" type="radio" >
                  Tous les produits
                  <i class="input-helper"></i>
                </label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="sh" name="sh1" type="radio" >
                  Par produit
                  <i class="input-helper"></i>
                </label>
                <div  *ngIf="sh == 0"><label>ID produit 
                </label><input class="form-control " [(ngModel)]="operation.temps" name="temps" type="text"  /> </div>
              </div>
            </div>
        </div>
        
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Designation Produit
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Type de Mvt
                  </th>
                  <th>
                    Sous Type de Produit
                  </th>
                  <th>
                    Quantité de Mvt
                  </th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>