<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Equipement</h4>
            <p class="card-description">
              Basic form elements
            </p>
             <div class="row"  *ngIf="showMsg">
              <div class="col-xs-12">
                <div class="alert alert-success" role="alert">
                  You successfully read this important alert message.
                </div>
              </div>
            </div>
          <form class="forms-sample"  (ngSubmit)="onSubmit()" #equipementForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nom</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="equipement.nom" 
                          class="form-control" 
                          id="nom" 
                          name="nom" 
                          placeholder=""
                          required #name="ngModel">   
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Largeur</label>
                  <div class="col-sm-9">
                    <input type="number" [(ngModel)]="equipement.largeur" 
                      name = "largeur"
                      class="form-control" id="largeur" placeholder="">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Longueur</label>
                  <div class="col-sm-9">
                    <input type="number" name = "longuer" [(ngModel)]="equipement.longueur"  class="form-control" id="longueur" > 
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Hauteur</label>
                  <div class="col-sm-9">
                    <input type="number" name = "hauteur" [(ngModel)]="equipement.hauteur"  class="form-control" id="hauteur" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Capacite</label>
                  <div class="col-sm-9">
                    <input type="number" name = "capacite" [(ngModel)]="equipement.capacite"  class="form-control" id="capacite" >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Puissance Electrique</label>
                  <div class="col-sm-9">
                    <input type="number" name = "puissanceElectrique" [(ngModel)]="equipement.puissanceElectrique"  class="form-control" id="puissanceElectrique" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Vitess</label>
                  <div class="col-sm-9">
                    <input type="number" name = "vitess" [(ngModel)]="equipement.vitess"  class="form-control" id="vitess" >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Epaisseur</label>
                  <div class="col-sm-9">
                    <input type="number" name = "epaisseur" [(ngModel)]="equipement.epaisseur"  class="form-control" id="epaisseur" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Debit</label>
                  <div class="col-sm-9">
                    <input type="number" name = "debit" [(ngModel)]="equipement.debit"  class="form-control" id="debit" >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Inclinaison</label>
                  <div class="col-sm-9">
                    <input type="number" name = "inclinaison" [(ngModel)]="equipement.inclinaison"  class="form-control" id="inclinaison" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Pression</label>
                  <div class="col-sm-9">
                    <input type="number" name = "pression" [(ngModel)]="equipement.pression"  class="form-control" id="pression" >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Profondeur</label>
                  <div class="col-sm-9">
                    <input type="number" name = "profondeur" [(ngModel)]="equipement.profondeur"  class="form-control" id="profondeur" >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Diametre</label>
                  <div class="col-sm-9">
                    <input type="number" name = "diametre" [(ngModel)]="equipement.diametre"  class="form-control" id="diametre" >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Granulometrie</label>
                  <div class="col-sm-9">
                    <input type="number" name = "granulometrie" [(ngModel)]="equipement.granulometrie"  class="form-control" id="granulometrie" >
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Project Status</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Due Date
                  </th>
                  <th>
                    Progress
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipement of equipements">
                  <td>{{ equipement.id }}</td>
                  <td>{{ equipement.nom }}</td>
                  <td>{{ equipement.largeur }}</td>
                  <td>{{ equipement.longueur }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>