<div class="page-header">
    <h3 class="page-title">
        Les Familles des Produits
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Création des Familles</h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #familleForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Désignation</label>
              <input type="text" class="form-control" name ="designation" required [(ngModel)]="famille.designation_famille"  placeholder="Username">
            </div>
            <button type="submit" [disabled]="!familleForm.form.valid" class="btn btn-info mr-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">List des Familles</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Désignation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let famille of familles">
                    <td>{{famille.designation_famille}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>