<div class="page-header">
    <h3 class="page-title">
        Quantité et valeur du minerail
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"></h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #quantiteForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Nom de la mine</label>
              <input type="text" class="form-control" name ="nom" [(ngModel)]="quantite.nom"  placeholder="Nom de la mine" required>
            </div> 
            <div class="form-group">
                <label for="exampleInputMobile">Substance Minérale </label>
                  <input type="text" class="form-control" [(ngModel)]="quantite.substance" name ="substance" required placeholder="Substance minérale">
            </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Quantité vendue </label>
              <input type="number" class="form-control" [(ngModel)]="quantite.quantite" required name ="quantite" placeholder="Quantitée">
            </div>
            <div class="form-group">
              <label for="exampleInputMobile">Valeur de production à la tête de puit   </label>
                <input type="number" class="form-control"[(ngModel)]="quantite.valeur" name ="valeur" placeholder="Valeur" >
          </div>
          <div class="form-group">
            <label for="exampleInputMobile">Droits versés </label>
              <input type="text" class="form-control" [(ngModel)]="quantite.droit"name ="droit" placeholder="Droits versés " >
        </div>
            <button type="submit" [disabled]="!quantiteForm.form.valid" class="btn btn-gradient-primary mr-2">Submit</button>
            <button type ="reset" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> Quantité et valeur du minerail</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nom de la mine</th>
                    <th>Substance Minérale</th>
                    <th>Quantitée </th>
                    <th>Valeur de production à la tête de puit  </th>
                    <th>Droits versés</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let quantite of quantites">
                    <td>{{quantite.nom}}</td>
                    <td>{{quantite.substance}}</td>
                    <td>{{quantite.quantite}}</td>
                    <td>{{quantite.valeur}}</td>
                    <td>{{quantite.droit}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>