
<div class="page-header">
  <h3 class="page-title">
    Echantillon
  </h3>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card" id="main_place">
      <div class="card-body">
        <h4 class="card-title">Création d'Echantillon</h4>
        <form class="forms-sample" (ngSubmit)="onSubmit()" #echantillonForm="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">Num Echantillon</label>
            <input type="text" class="form-control" name ="numEchantillon" [(ngModel)]="echantillon.numEchantillon"  placeholder="Numero">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Les Labo</label>
            <select class="form-control" name ="labo" [(ngModel)]="echantillon.designationlabo">
                <option *ngFor="let labo of labos" [(value)]="labo.designation" >{{labo.designation}}</option>
            </select>
        </div>
          <div class="form-group">
            <label for="exampleInputMobile">Quantiteé</label>
              <input type="number" class="form-control" name ="quantite" [(ngModel)]="echantillon.quantite" >
        </div>
          <div class="form-group">
              <label for="exampleInputMobile">Date d'expédition</label>
                <input type="date" class="form-control" name ="dateE" [(ngModel)]="echantillon.dateE" >
          </div>
          <div class="form-group">
            <label for="exampleInputMobile">Date du prélemvement </label>
              <input type="date" class="form-control" name ="dateP" [(ngModel)]="echantillon.dateP" >
        </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <button type ="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card" id="operation1" style="display:none">
    <div class="card-body">
        <h4 class="card-title">Création d'Echantillon</h4>
        <p class="card-description">
          Basic form elements
        </p>
      <form class="forms-sample" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputName1">Num Echantillon</label>
          <input type="text" value="{{echantillon}}" 
          class="form-control" 
          id="numEchantillon" 
          name="numEchantillon" 
          disabled>   
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Nom du Labo</label>
          <input type="text" value="{{echantillon.id}}" 
          name = "nom"
          class="form-control" id="nomlabo" disabled>
        </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Quantiteé</label>
            <input type="text" name = "quantite" value="{{echantillon.quantite}}"  class="form-control" id="quantite" disabled>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Taux de Si </label>
            <input type="text" name = "si"  [(ngModel)]="echantillon.tauxSi" class="form-control" id="si" >
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">Taux Fe</label>
            <input type="text" name = "fe" [(ngModel)]="echantillon.tauxFe" class="form-control" id="fe" >
        </div>
        <form class="forms-sample" enctype="multipart/form-data">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" />
          </label>
          </form>
        <button type="submit" class="btn btn-gradient-primary mr-2" (click)="onEdit(echantillon.id)">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">List des Echantillons</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Num Echnatillon</th>
                  <th>Quantité</th>
                  <th>Date </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let echantillon of echantillons">
                  <td>{{echantillon.numEchantillon}}</td>
                  <td>{{echantillon.quantite}}</td>
                  <td>
                    <button (click)="show('operation1',echantillon.id)"  type="button"class="btn btn-warning">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>








