
<div class="page-header">
    <h3 class="page-title">
        Caractérisation physico-chimique:
    </h3>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card" id="main_place">
        <div class="card-body">
          <h4 class="card-title">Composition chimique :
            </h4>
          <form class="forms-sample" (ngSubmit)="onSubmit()" #chimiqueForm="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">PF</label>
              <input type="number" class="form-control" name ="pf" [(ngModel)]="chimique.ph" >
            </div>
           
            <div class="form-group">
              <label for="exampleInputMobile">SiO2(%)            </label>
                <input type="number" class="form-control" name ="si" [(ngModel)]="chimique.si" >
          </div>
            <div class="form-group">
                <label for="exampleInputMobile">Al2O3(%)                </label>
                  <input type="number" class="form-control" name ="al" [(ngModel)]="chimique.al" >
            </div>
            <div class="form-group">
              <label for="exampleInputMobile">Fe2O3(ppm)            </label>
                <input type="number" class="form-control" name ="fe" [(ngModel)]="chimique.fe" >
          </div>
           <div class="form-group">
              <label for="exampleInputMobile">Autres           </label>
              <input type="text" class="form-control" required name ="autres" [(ngModel)]="chimique.autre" >
          </div>
          <div class="form-group">
            <label for="exampleInputMobile">Quantité par unité           </label>
            <input type="number" class="form-control" required name ="quantite" [(ngModel)]="chimique.quantite" >
        </div>
          </form>
          
      </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mineralogie</h4>
            <form class="forms-sample" (ngSubmit)="onSubmit()" #chimiqueForm="ngForm" >
          
            <form class="forms-sample" enctype="multipart/form-data">
              <label for="exampleInputMobile">
                  DRX
              </label>
              <input type="file" class="form-control" (change)="selectFile($event)" />
              </form>
            </form>
            <br/>
            <br/>
            <br/>
              <h4 class="card-title">Geo-technique </h4>
              
            <form class="forms-sample" enctype="multipart/form-data"  #geoFonerrm="ngForm">
                <div class="form-group">
                    <label for="exampleInputMobile">Equivalent de sable  </label>
                      <input type="number" class="form-control" required name ="sable" [(ngModel)]="chimique.sable" >
                </div>
              <form class="forms-sample" enctype="multipart/form-data">
                <div class="form-group">
                <label class="exampleInputMobile">
                    Analyse Granulometrie(doc)
                </label>
                <input type="file"  class="form-control" (change)="selectFile2($event)"/>
             </div>
                </form>
                <button class="btn btn-info"(click)="upload()" >
                  Submit
                </button>
            </form>
        </div>
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  